html,
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Tahoma, sans-serif;
}

i {
  color :#03187C
}

/* --- HEADER  --- */

.header{
  background-color:  #03187C;
  color:white;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

/* --- FORM CREATE  --- */

.form-container{
  display: flex;
  justify-content: center;
}

.form-create > textarea{
  border: 4px dotted #03187C;
  font-family:Verdana, Arial, Tahoma, sans-serif;
}

.form-create > button{
  color: #2c0b8e;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  /* position: relative;
  display: inline-block; */
  outline: none;
  border-radius: 5px;
  border: 2px solid #2c0b8e;
  background: #fff;
}
.form-create > button:hover {
  background:#2c0b8e ;
  color: #fff
}
.form-create-radio-input{
  cursor: pointer;
}

legend{
  color: #03187C;
  font-size: 14px;
}

.form-create-radio-and-legend{
  display:flex;
  flex-direction: row
}

/* --- LIST --- */

h2{
  color: #2c0b8e;
  font-family: Verdana;
  margin-left: 10px;
}

.post-it-list{
  display: flex;
  flex-direction: row;
  flex-wrap :wrap;
  justify-content: space-around;

}

/* --- TODO --- */

.post-it{
  border-radius: 0px 0px 10px 0px;
  border: 2px solid #eee;
  box-shadow: 2px 2px 10px 0 #eee;
  box-sizing: border-box;
  padding: 15px;
  width: 175px;
  height: 175px;
  margin: 10px ;
  position :relative;
}

.post-it > p{
cursor: pointer;
}

.container-buttons-todo{
  position : absolute;
  bottom:0px;
  right:0px;
}

.buttons-todo{
  background-color:white;
  border : none;
  margin: 2px;
  cursor: pointer;

}

.strike{
  text-decoration: line-through;
}

.icon-post-it{
  font-size: 17px ;
}

/* --- FORM TO MODIDY --- */

.button-form-modify{
  color: #2c0b8e;
  padding: 4px 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  border-radius: 5px;
  border: 1px solid #2c0b8e;
  background: #fff;
}

.button-form-modify:hover{
  background:#2c0b8e ;
  color: #fff
}

.form-modify > textarea {
  /* border: none; */
  border-color: #03187C;
  font-family:Verdana, Arial, Tahoma, sans-serif;
}












